@font-face {
  font-family: "Roboto Regular";
  src: url('/fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: "ZenDots";
  src: url('/fonts/zendots-regular.ttf') format('truetype');
}

.container {
  font-family: "Roboto Regular";
  height: 400px;
  width: 385px;
}

#settings section {
  font-size: 15px;
  margin: 0 0 10px 0;
}

.form-switch input[type='checkbox']:checked + .checkbox-switch {
  background: #55acee;
  border-color: #55acee;
}

#header {
  font-family: "ZenDots";
}

.small {
  font-size: 10px;
}