:root {
  --twitter-blue: #55acee;
}

@font-face {
  font-family: "Kanit Regular";
  src: url('/fonts/kanit-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Pangolin Regular";
  src: url('/fonts/pangolin-regular.ttf') format('truetype');
}

.container {
  font-family: "Pangolin Regular";
  max-height: 370px;
  width: 345px;
}

header {
  font-size: 15px;
  margin: 0px 0 20px 0px;
  background-color: var(--twitter-blue);
  height: 40px;
  font-weight: bold;
}

header a:link, header a:visited, header a:active, header a:hover {
  display: block;
  color: #FFF;
  text-decoration: none;
}

header .text {
  font-family: "Anton Regular";
  color: #FFF;
  margin: 5px 0 0 0;
  font-size: 20px;
}

#settings section {
  font-size: 15px;
  margin: 0 0 10px 0;
}

#settings section:last-child {
  margin-bottom: 0px;
}

.form-switch input[type='checkbox']:checked + .checkbox-switch {
  background: var(--twitter-blue);
  border-color: var(--twitter-blue);
}

label.form-switch {
  cursor: pointer;
}

.small {
  font-size: 10px;
}